<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>사용자 등록하기</h1>
    <form id="register-form">
        <div>username: <input id="username" type="text" placeholder="username"></div>
        <div>비밀번호: <input id="pwd" type="password" placeholder="비밀번호"></div>
        <div>비밀번호 확인: <input id="pwd2" type="password" placeholder="비밀번호 확인"></div>
        <button type="submit">등록</button>
    </form>
    <a href="/">메인화면으로 가기</a>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/register.js"></script>
</body>
</html>