<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/update.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="header-wrapper">
            <h2>글 수정하기</h2>
            <a href="/">메인화면으로</a>
        </div>
    </header>
    
    <main>
        <form id="update-form">
            <div><%- qID %></div>
            <div id="title"><%- input %></div>
            <div id="text"><%- textarea %></div>
            <div id="pwd"><input id="pwd" type="password" placeholder="비밀번호"></div>        
            <button type="submit">등록</button>
        </form>
        
    </main>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/update.js"></script>
</body>
</html>